#mainNav{
    background-color: #718B82;
}
#about {
    background-color: #718B82;
}
#services{
    background-color: #F3EFD6;
    justify-content: center;
    flex-wrap: nowrap;
}
#stylists{
    background-color: #718B82;
}
#testimonials{
    background-color: #F3EFD6;
}
#socialMedia{
    background-color: #718B82;
}
#contact{
    background-color: #F3EFD6;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Unna', serif;
}
.timeline-heading .timeline-body{
    color: #F3EFD6;
}
.timeline-heading{
    font-family: 'Unna', serif;
}
.timeline-body{
    font-family: 'Poppins', sans-serif;
}
.timeline .timeline-heading h4, .timeline{
    color: #F3EFD6;
}
.salonHours{
    color: #F3EFD6;
    font-style: italic;
    text-align: center;
}
.salonContact{
    color: #F3EFD6;
    font-style: italic;
    text-align: center;
}
#mainNav.navbar-shrink {
    background-color: #718B82;
    border-color: #374540;
    border-bottom-style: solid;
    border-width: medium;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #374540;
    font-weight: bold;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 505px;
    width: 100%;
}
.mapouter {
    position: relative;
    text-align: left;
    height: 505px;
    width: 100%;
}
.map{
    width: auto;
}
.blockquote{
   padding-left: 25pt;
   padding-top: 20pt;
   padding-right: 25pt;
   padding-bottom: 20pt;
}

h3 #socialMedia{
    text-align: center;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
img, svg {
    vertical-align: middle;
}
*, *::before, *::after {
    box-sizing: border-box;
}
svg:not(:root) {
    overflow: hidden;
}
.btn-dark {
    background-color: #F3EFD6;
    color:#374540;
    border-color: #F3EFD6;
}
.btn-dark:hover {
    background-color: #374540;
    color: #F3EFD6;
    border-color: #374540;
}
section#contact .section-heading {
    color: #F3EFD6
}
.footer{
    background-color: #718B82;
}
.btn-primary:hover {
    color: #fff;
    background-color: #C2956E;}
#icon{
    padding-left: 8%;
    text-align: center;
}
#stylistsphoto{
    height: 200px;
    width: 150px;
    border-image: 5px;
    border-color: #374540;
}
.portfolio-caption-heading{
    font-size: 25px;
    font-family: 'Unna', serif;
    font-weight: bold;
}
.instafeed{
    padding: 15px;
}
#AboutStudio{
    color: #F3EFD6;
}
.portfolio-modal p h2{
   max-width: 410px;
}
.modalContentText{
    max-width: 410px;
    text-align: center;
    margin: auto;
}
#label{
    color: #374540 !important;
}
.modal-dialog{
    background-color: #F3EFD6;
}