#mainNav{
    background-color: #718B82;
}
#about {
    background-color: #718B82;
}
#services{
    background-color: #F3EFD6;
}
#stylists{
    background-color: #718B82;
}
#testimonials{
    background-color: #F3EFD6;
}
#socialMedia{
    background-color: #718B82;
}
#contact{
    background-color: #F3EFD6;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Unna', serif;
}
.timeline-heading .timeline-body{
    color: #F3EFD6;
}
.timeline-heading{
    font-family: 'Unna', serif;
}
.timeline-body{
    font-family: 'Poppins', sans-serif;
}