#mainNav{
    background-color: #718B82;
}
#about {
    background-color: #718B82;
}
#services{
    background-color: #F3EFD6;
}
#stylists{
    background-color: #718B82;
}
#testimonials{
    background-color: #F3EFD6;
}
#socialMedia{
    background-color: #718B82;
}
#contact{
    background-color: #F3EFD6;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Unna', serif;
}
.timeline-heading .timeline-body{
    color: #F3EFD6;
}
.timeline-heading{
    font-family: 'Unna', serif;
}
.timeline-body{
    font-family: 'Poppins', sans-serif;
}
.timeline .timeline-heading h4, .timeline{
    color: #F3EFD6;
}
.salonHours{
    color: #F3EFD6;
}
.salonContact{
    color: #F3EFD6;
}
#mainNav.navbar-shrink {
    background-color: #718B82;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #374540;
    font-weight: bold;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 505px;
    width: 100%;
}
.mapouter {
    position: relative;
    text-align: left;
    height: 505px;
    width: 100%;
}